* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.start-container {
    margin-left: 40%;
    margin-top: 20%;
    width: 300px;
    padding: 10px;
    text-align: center;
    background-color: rgb(235, 233, 233);
    border-radius: 5px;
    box-shadow: 1px 2px gray;
    border: 1px solid black;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn {
    border: none;
    border-radius: 2px;
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.employee-btn {
    background-color: rgb(7, 165, 7);
}

.admin-btn {
    background-color: rgb(30, 30, 225);
}

.login-container {
    display: none;
    margin-left: 40%;
    margin-top: 10%;
    width: 400px;
    padding: 10px;
    background-color: rgb(235, 233, 233);
    border-radius: 5px;
    box-shadow: 1px 2px gray;
    border: 1px solid black;
}

.mb-3 {
    width: 300px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.heading {
    color: white;
    font-size: 25px;
    padding-left: 20px;
}

.links a {
    display: block;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    color: #fff;
    transition: all 0.3s linear;
}

.links a:hover {
    background: gray;
    padding-left: 1.75rem;
}

.active {
    background: gray;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: black;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    transition: all 0.3s linear;
    transform: translate(0);
}

.navBar {
    background-color: slategray;
    box-shadow: 5px 5px rgb(236, 235, 235);
    height: 70px;
}

.navbar-title {
    padding: 10px 10px;
    margin-left: 300px;
    text-align: center;
}

.navbar-title p {
    font-size: 40px;
    font-weight: 500px;
    margin: 0px;
}

.content-container {
    margin-left: 300px;
    padding: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    border: 2px solid gray;
    margin: 5px;
    align-items: center;
    font-weight: 500;
    background-color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}

.box:hover {
    background-color: rgb(69, 203, 158);
}

.inner-box {
    padding: 5px;
    font-size: 30px;
}

.inner-box-head {
    font-size: 30px;
}

.hr-line {
    width: 100%;
    margin: 20px;
    height: 2px;
    background-color: black;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 10px 50px 20px 50px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: azure;
}

.add-emp-btn {
    border: none;
    background-color: green;
    color: white;
    padding: 10px;
    transition: all 0.3s ease;
}

.add-emp-btn:hover {
    background-color: rgb(2, 161, 2);
    transform: scale(1.1);
}

.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 100px auto 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    text-align: center;
}

.user-details {
    font-size: 18px;
}

.flex-item {
    flex-basis: 50%;
    padding: 10px;
    margin: 5px;
}

.img-container {
    text-align: center;
}
