<div class="container">
    <div class="box">
        <div class="inner-box-head">
            Admin
        </div>
        <div class="hr-line"></div>
        <div class="inner-box first-box">
            Total: 1
        </div>
    </div>
    <div class="box">
        <div class="inner-box-head">
            Employee
        </div>
        <div class="hr-line"></div>
        <div class="inner-box second-box">
        </div>
    </div>
    <div class="box">
        <div class="inner-box-head">
            Salary
        </div>
        <div class="hr-line"></div>
        <div class="inner-box third-box">
            Total: 47569823
        </div>
    </div>
</div>
<h1>List of Admins</h1>